h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: tan;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 15px;
}

.navbar img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    background-repeat: no-repeat;
}

.navbar a{
    color: snow;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.navbar li{
    float: right;
}

.rainbow-anim:hover{
    font-weight: bold;
    background: linear-gradient(270deg, red, orange, yellow, green, cyan, blue, violet);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 3s linear infinite alternate;
}

@keyframes rainbow{
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}