h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: tan;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 15px;
}

.navbar a{
    color: snow;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.navbar a:hover{
    background-color: #242424;
}

.navbar li{
    float: right;
}