label{
    text-transform: uppercase;
    font-size: medium;
    font-family: 'proxima-soft', sans-serif;
    font-weight: 600;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}



body{
    background-color: #242424;
    
}

label{
    font-size: 25px;
    color: snow;
}

input{
    display: block;
    align-self: center;
    border: 1px solid tan;
    font-size: medium;
    border: var(--border);
    width: 350px;
    text-align: left;
    border-radius: 24px;
    padding: 1ex 1ex;

}

#input5{
    width: 100px;
    text-align: center;
    
}